* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  max-width: 100%;
  max-height: 100%;
}
a {
  color: inherit;
  text-decoration: none;
}
body {
  font-family: sans-serif;
}

.register-page {
  width: 100%;
  height: 650px;
  background-color: #1d3557;
  color: #a8dadc;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}
.register-form {
  background-color: #457b9d;
  padding: 30px;
  border-radius: 20px;
}
.register-form input {
  outline: none;
  border: none;
  padding: 5px;
  border-radius: 5px;
  margin-top: 4px;
}
.w-100 {
  width: 100%;
}
.title {
  font-size: 30px;
  text-align: center;
  margin-bottom: 30px;
}

#username {
  display: inline-block;
  margin-right: 20px;
}

.green {
  color: green;
}
.red {
  color: red;
}
.yellow {
  color: yellow;
}
#username + i {
  cursor: pointer;
  width: 12.5px;
}
.register-button button {
  margin-top: 20px;
  padding: 10px 0;
  color: #fff;
  font-weight: 600;
  border-radius: 20px;
  border: none;
  outline: none;
  background: green;
  transition: 0.5s;
  cursor: pointer;
}
.register-button button:hover {
  background: #148514;
}
.section {
  display: grid;
  grid-template-columns: 1.2fr 4fr;
  height: 620px;
  color: #fff;
}
.section .left {
  background-color: #023047;
  height: 100%;
}
.section .right {
  background-color: #219ebc;
}
.search {
  display: grid;
  grid-template-columns: 1fr 5fr;
  justify-items: center;

  height: 100%;
}
.search input {
  margin-left: 8px;
  width: calc(100%-20px);
  border: 0;
  outline: 0;
  padding: 7px;
  vertical-align: top;
}
.menu-icon {
  background-color: #264653;
  height: 100%;
  padding: 0 10px;
  padding-top: 20px;
  position: relative;
}
.menu-icon-item {
  position: absolute;
  width: 260px;
  height: 563px;
  background-color: #205d75;
  left: 48px;
  top: 56px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding: 50px 0;
  text-align: left;
}
.menu-icon i {
  cursor: pointer;
}
.log-out {
  border: none;
  outline: none;
  padding: 5px 15px;
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  background-color: #a71111;
  cursor: pointer;
  border-radius: 10px;
}

.user-friends {
  padding-top: 20px;
  width: 100%;
  padding-left: 5px;
  padding-right: 20px;
}
.user-friends input {
  width: 100%;
  border: none;
  padding: 10px;
  border-radius: 5px;
}
.chat-members {
  margin-top: 30px;
}
.user-friend-item {
  padding: 10px 20px;
  background-color: #205d75;
  border-radius: 20px;
  transition: 0.5s;
  cursor: pointer;
}
.user-friend-item:not(:first-child) {
  margin-top: 10px;
}
.user-friend-item:hover {
  background-color: #0f5570;
}

.right-online .name {
  background-color: #06435c;
  padding: 10px 0;
  padding-left: 20px;
}
.right-online .name p {
  font-size: 15px;
  color: #15e615;
}

.right {
  height: 100%;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #219ebc;
  height: 100%;
}
.right-online-relative {
  position: relative;
  height: 100%;
}
.input-message {
  position: absolute;
  bottom: 10px;
  right: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.input-message input {
  display: inline-block;
  width: 90%;
  height: 50px;
  border: none;
  outline: none;
  border-radius: 20px;
  padding-left: 20px;
}
.input-message button {
  all: unset;
  cursor: pointer;
}
.input-message i {
  display: inline-block;
  font-size: 30px;
  margin-left: 10px;
}
.message-wrapper {
  overflow: hidden;
  height: 495px;
}
.messages {
  display: flex;
  flex-direction: column;
  padding: 0 30px;
  row-gap: 10px;
  height: 100%;
  overflow: scroll;
}
::-webkit-scrollbar {
  display: none;
  width: 10px;
}
.message-to-me {
  background-color: #124ebe;
  width: max-content;
  padding: 10px 20px;
  border-radius: 20px;
  margin-top: auto;
}
.message-to-me:first-child {
  margin-top: auto;
}
.message-from-me {
  align-self: flex-end;
  background-color: #1ebe10;
  width: max-content;
  padding: 10px 20px;
  border-radius: 20px;
}
.message-from-me:first-child {
  margin-top: auto;
}
.search-result {
  width: 100%;
  background-color: #1ebe10;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  padding: 5px 0;
  flex-direction: column;
  border-radius: 5px;
  cursor: pointer;
}
.search-result:hover {
  background-color: #41c235;
}
.hidden {
  display: none !important;
}
